@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Newtonsoft.Json;
@using RSWMonitor.MainApp.Models;
@{
    ViewData["Title"] = "HealthChecks Management";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Configuration>

@{
    if (ViewBag.failure != "")
    {
        <script type="text/javascript">
            window.onload = function () {
                showToast(true, '@ViewBag.failure');
            }
        </script>

    }
}

<div class="container text-center">
    <div class="modal fade" id="add-configuration" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="configurations-toats-title">Add/edit configuration</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form name="add-configuration-form" id="add-configuration-form" method="post" asp-controller="ManageRemoteMonitors" asp-action="AddConfiguration">
                    <div class="modal-body">
                        <h3 class="text-start">Base data</h3>
                        <div class="col-8">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Configuration name</span>
                                <input type="text" id="configuration-name" name="configuration-name" placeholder="Name" class="form-control" aria-label="Configuration name" aria-describedby="inputGroup-sizing-sm" required>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Configuration URI</span>
                                <input type="text" id="configuration-uri" name="configuration-uri" placeholder="https://test.org/health" class="form-control" aria-label="Configuration uri" aria-describedby="inputGroup-sizing-sm" required>
                            </div>
                            @*<div class="input-group input-group-sm mb-3">
                                <label class="input-group-text" for="configuration-type">Type of configuration</label>
                                <select class="form-select" name="configuration-type" id="configuration-type">
                                    @{
                                        foreach (var item in ViewBag.componentTypes)
                                        {
                                            <option value=@item.ComponentTypesId>@item.ComponentTypesName</option>
                                        }
                                    }
                                </select>

                            </div>*@
                        </div>
                        <hr />
                        <div class="align-middle">
                            <h3 class="text-start align-middle">Components <button type="button" onclick="addComponentRow()" class="btn btn-sm my-auto btn-success"><i class="bi bi-plus"></i></button></h3>
                        </div>
                        <table id="component-table" class="shadow-sm table table table-sm">
                            <tr>
                                <th class="align-middle border-end text-end">#</th>
                                <th class="align-middle">Name</th>
                                <th class="align-middle">Query</th>
                                <th class="align-middle">Type</th>
                                <th class="align-middle col-1">Roles</th>
                            </tr>
                            <tr data-row="row-1">
                                <td id="row-index-row-1" class="align-middle border-end text-end">
                                    1
                                </td>
                                <td class="align-middle">
                                    <input type="text" id="{'prop':'component-name','row':1}" name="{'prop':'component-name','row':1}" placeholder="Name" class="init form-control form-control-sm component-names" aria-label="Component name" aria-describedby="inputGroup-sizing-sm">
                                </td>
                                <td class="align-middle">
                                    <input type="text" id="{'prop':'component-query','row':1}" name="{'prop':'component-query','row':1}" placeholder="URL, SELECT 1 etc." class="init form-control form-control-sm component-queries" aria-label="Query name" aria-describedby="inputGroup-sizing-sm">
                                </td>
                                <td class="align-middle col-2">
                                    <select class="form-select form-select-sm components-types" name="{'prop':'component-type','row':1}" id="{'prop':'component-type','row':1}">
                                        @{
                                            foreach (var item in ViewBag.componentTypes)
                                            {
                                                <option value=@item.ComponentTypesId>@item.ComponentTypesName</option>
                                            }
                                        }
                                    </select>
                                </td>
                                <td class="align-middle">
                                    <div class="btn-group dropend">
                                        <button id="add-component-roles-button" class="btn btn-outline-none btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                            Roles
                                        </button>
                                        <ul class="dropdown-menu" id="{'prop':'component-roles','row':1}">
                                            @foreach (var item in ViewBag.Roles!)
                                            {
                                                <li>
                                                    <span class="dropdown-item">
                                                        @*<input type="checkbox" name="role-@item.Name-row-1" id="role-@item.Name-row-1" value="@item.Name" class="user-settings form-check-input me-1 add-configuration-roles">
                                                        <label for="role-@item.Name-row-1" class="form-check-label"> @item.Name</label>*@
                                                        <input type="checkbox" name="{'role':'@item.Name','row':1}" id="{'role':'@item.Name','row':1}" value="@item.Name" class="user-settings form-check-input me-1 add-configuration-roles">
                                                        <label for="{'role':'@item.Name','row':1}" class="form-check-label"> @item.Name</label>
                                                    </span>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        @*<div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Component name</span>
                            <input type="text" id="component-name" name="component-name" placeholder="Name" class="form-control" aria-label="Component name" aria-describedby="inputGroup-sizing-sm">
                            <div class="btn-group dropend">
                                <button id="add-configuration-roles-button" class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                    Roles
                                </button>
                                <ul class="dropdown-menu">
                                    @foreach (var item in ViewBag.Roles!)
                                    {
                                        <li>
                                            <span class="dropdown-item">
                                                <input type="checkbox" name="role-@item.Name" id="role-@item.Name" value="@item.Name" class="user-settings form-check-input me-1 add-configuration-roles">
                                                <label for="role-@item.Name" class="form-check-label"> @item.Name</label>
                                            </span>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>*@
                            <input class="form-check-input" style="display: none;" type="checkbox" name="configuration-db-id" value="-1" id="configuration-db-id" checked>
                        <input class="form-check-input" style="display: none;" type="checkbox" name="components-count" value="0" id="components-count" checked>
                        @*<div class="form-check text-start">*@
                            @*<input class="form-check-input" type="checkbox" title="not ready yet" name="configuration-has-controls" value="true" id="configuration-has-controls" disabled>*@
                            @*<label class="form-check-label" for="configuration-has-controls">
                            Has controls? (not ready yet)
                            </label>*@
                        @*</div>*@

                        @*<div class="btn-group dropend">
                            <button id="add-configuration-roles-button" class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                Roles
                            </button>
                            <ul class="dropdown-menu">
                                @foreach (var item in ViewBag.Roles!)
                                {
                                    <li>
                                        <span class="dropdown-item">
                                            <input type="checkbox" name="role-@item.Name" id="role-@item.Name" value="@item.Name" class="user-settings form-check-input me-1 add-configuration-roles">
                                            <label for="role-@item.Name" class="form-check-label"> @item.Name</label>
                                        </span>
                                    </li>
                                }
                            </ul>
                        </div>*@
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success btn-ok">Add/edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @*<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-configurations-tab" data-bs-toggle="tab" data-bs-target="#nav-configurations" type="button" role="tab" aria-controls="nav-configurations" aria-selected="true">Configurations</button>
    <button class="nav-link" id="nav-logs-tab" data-bs-toggle="tab" data-bs-target="#nav-logs" type="button" role="tab" aria-controls="nav-lgos" aria-selected="false">Logs</button>
    </div>
    </nav>*@
    <br />
    <div class="tab-content row col-12" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-configurations" role="tabpanel" aria-labelledby="nav-configurations-tab" tabindex="0">
            <div class="row">
                <div class="col-7">
                    <h1 class="text-start">Configurations</h1>

                </div>
                <div class="col-2 mt-2">
                    @* <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Count</label>
                    <select class="form-select" id="inputGroupSelect01">
                    <option value="50" selected>50</option>
                    <option value="100">100</option>
                    <option value="150">150</option>
                    </select>
                    </div>*@
                </div>
                <div class="text-end col-3 mt-2">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#add-configuration"><i class="bi bi-plus-square"></i> Add configuration</button>

                </div>

            </div>
            <table class="shadow-sm table table table-sm">
                <tr class="sticky-table-headers">
                    <th class="col-auto text-end border-end">#</th>
                    <th class="col-5">Name</th>
                    <th class="col-5">URI</th>
                    @*<th>Configuration type</th>*@
                    @*<th>Roles</th>*@
                    @*<th>Controls (WIP)</th>*@
                    <th>Edit</th>
                    @*<th class="text-primary col-1"><i class="bi bi-pencil-square"></i></th>
                    <th class="text-danger col-1"><i class="bi bi-trash"></i></th>*@
                </tr>
                @foreach (var configuration in Model)
                {
                    int index = (Model).IndexOf(configuration) + 1;
                    <tr>
                        <td class="border-end align-middle text-end configuration-entry-id">
                            @if (configuration.Components.Count > 0)
                            {
                                <a title="Click to reveal components of configuration" class="text-decoration-none text-dark" data-bs-toggle="collapse" href="#collapse-@index" role="button" aria-expanded="false" aria-controls="collapse-@index">
                                    <i class="bi bi-chevron-bar-expand text-primary"></i> @index
                                </a>
                            }
                            else
                            {
                                <i title="No components" class="bi bi-x text-danger opacity-0"></i> @index
                            }
                        </td>
                        <td class="align-middle configuration-entry-name">
                            <span title="Configuration ID" class="badge bg-info">Cfg ID: @configuration.Id</span> 
                            @configuration.Name
                        </td>
                        <td class="align-middle configuration-entry-uri"><a target="_blank" href="@configuration.Uri">@configuration.Uri</a></td>
                        @*<td class="align-middle configuration-entry-type" data-type="@configuration.ComponentTypes?.ComponentTypesId">@configuration.ComponentTypes?.ComponentTypesName</td>*@
                        @*<td class="align-middle configuration-entry-roles" data-configuration-roles="@configuration.ConfigurationRoles">
                    @{
                    var listOfConfigurationRoles = JsonConvert.DeserializeObject<List<string>>(@configuration.ConfigurationRoles);
                    foreach(var item in listOfConfigurationRoles)
                    {
                    <span class="badge bg-primary" data-role-name="@item">@item</span>
                    }
                    }
                    </td>*@
                        @*<td class="align-middle configuration-entry-has-controls" data-has-controls="@((bool)configuration.HasControls)">
                    @if ((bool)configuration.HasControls)
                    {
                    <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-success btn-sm"><i class="bi bi-play-fill"></i></button>
                    <button type="button" class="btn btn-success btn-sm"><i class="bi bi-arrow-clockwise"></i></button>
                    </div>
                    <button type="button" class="btn btn-outline-danger btn-sm"><i class="bi bi-stop-fill"></i></button>
                    } else
                    {
                    <span class="fst-italic text-body">-</span>
                    }
                    </td>*@
                        @{
                            index = (Model).IndexOf(configuration) + 1;
                        }
                        <td class="align-middle">
                            <button type="button" value="@configuration.Id" id="ed-btn-@index" data-onclick="" onclick="fillConfiguration('ed-btn-@index')" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#add-configuration">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button type="button" value="@configuration.Id" id="rd-btn-@index" data-onclick="removeConfiguration('rd-btn-@index')" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#confirm-deletion">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                        @if (configuration.Components.Count > 0)
                        {
                        <tr class="collapse config-collapse" id="collapse-@index">
                            <td colspan="5" class="px-0 pt-0 pb-1">
                                <table class="shadow-sm table table-striped">
                                        @*<caption class="caption-top">List of components:</caption>*@
                                    <tr>
                                        <th class="border-end text-end">#</th>
                                        <th class="col-2">Type</th>
                                        <th class="col-2">Name</th>
                                        <th class="col-4">Query</th>
                                        <th>Roles</th>
                                    </tr>
                                        @foreach (var component in configuration.Components)
                                        {
                                            int componentIndex = (configuration.Components.ToList()).IndexOf(component) + 1;
                                        <tr>
                                            <td class="border-end text-end col-1">@componentIndex</td>
                                            <td>@component.ComponentTypes.ComponentTypesName</td>
                                            <td>
                                                <span title="Component ID" class="badge bg-info">Com ID: @component.Id</span> 
                                                @component.ComponentName
                                             </td>
                                            <td>@component.ComponentQuery</td>
                                            <td>@component.ComponentRoletags</td>
                                        </tr>
                                        }
                                </table>
                            </td>
                        </tr>
                        }
                        @*<td class="align-middle"><button type="button" value="@configuration.Id" id="ed-btn-@index" data-onclick="" onclick="fillConfiguration('ed-btn-@index')" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#add-configuration"><i class="bi bi-pencil-square"></i></button></td>
                <td class="align-middle"><button type="button" value="@configuration.Id" id="rd-btn-@index" data-onclick="removeConfiguration('rd-btn-@index')" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#confirm-deletion"><i class="bi bi-trash"></i></button></td>*@
                    </tr>
                }
            </table>
        </div>
    </div>
</div>