@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Newtonsoft.Json;
@using RSWMonitor.MainApp.Models;
@{
    ViewData["Title"] = "Configurations";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Configuration>

@{
    if (ViewBag.failure != "")
    {
        <script type="text/javascript">
            window.onload = function () {
                showToast(true, '@ViewBag.failure');
            }
        </script>

    }
}
<div class="container text-center">
    <div class="modal fade" id="add-configuration" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="configurations-toats-title">Add/edit configuration</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form name="add-configuration-form" id="add-configuration-form" method="post" asp-controller="ManageRemoteMonitors" asp-action="AddConfiguration">
                    <div class="modal-body">
                        <h3 class="text-start">Base data</h3>
                        <div class="col-8">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Configuration name</span>
                                <input type="text" id="configuration-name" name="configuration-name" placeholder="Name" class="form-control" aria-label="Configuration name" aria-describedby="inputGroup-sizing-sm" required>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Configuration URI</span>
                                <input type="text" id="configuration-uri" name="configuration-uri" placeholder="https://test.org/health" class="form-control" aria-label="Configuration uri" aria-describedby="inputGroup-sizing-sm" required>
                            </div>
                        </div>
                        <hr />
                        <div class="align-middle">
                            <h3 class="text-start align-middle col-6">Components </h3>
                        </div>
                        <table id="component-table" class="shadow-sm table table table-sm">
                            <tr>
                                <th class="align-middle border-end text-end">#</th>
                                <th class="align-middle">Name</th>
                                <th class="align-middle">Query</th>
                                <th class="align-middle col-1">Type</th>
                                <th class="align-middle col-auto">Has controls?</th>
                                <th class="align-middle col-auto">Roles</th>
                                <th class="align-middle col-auto">
                                    Remove
                                </th>
                            </tr>
                            <tr data-row="row-1" class="align-middle">
                                <td id="row-index-row-1" class="align-middle border-end text-end">
                                    1
                                </td>
                                <td class="align-middle">
                                    <input type="text" id="component-name-row-1" name="{'prop':'component-name','row':1}" placeholder="Name" class="init form-control form-control-sm component-names" aria-label="Component name" aria-describedby="inputGroup-sizing-sm">
                                </td>
                                <td class="align-middle">
                                    <input type="text" id="component-query-row-1" name="{'prop':'component-query','row':1}" placeholder="URL, DB connection string, process name etc." class="init form-control form-control-sm component-queries" aria-label="Query name" aria-describedby="inputGroup-sizing-sm">
                                </td>
                                <td class="align-middle col-2">
                                    <select class="form-select form-select-sm components-types" name="{'prop':'component-type','row':1}" id="component-type-row-1">
                                        @{
                                            foreach (var item in ViewBag.componentTypes)
                                            {
                                                <option value=@item.ComponentTypesId>@item.ComponentTypesName</option>
                                            }
                                        }
                                    </select>
                                </td>

                                <td class="align-middle">
                                    <input id="component-has-controls-row-1" class="form-check-input" name="{'prop':'component-has-controls','row':1}" type="checkbox" />
                                </td>
                                <td class="align-middle">
                                    <div class="btn-group dropend">
                                        <button id="add-component-roles-button" class="btn btn-outline-none btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                            Roles
                                        </button>
                                        <ul class="dropdown-menu" id="{'prop':'component-roles','row':1}">
                                            @foreach (var item in ViewBag.Roles!)
                                            {
                                                <li>
                                                    <span class="dropdown-item">
                                                        <input type="checkbox" name="{'prop':'role','row':1}" id="role-@item.Name-row-1" value="@item.Name" class="user-settings form-check-input me-1 add-configuration-roles add-configuration-roles-row-1">
                                                        <label for="role-@item.Name-row-1" class="form-check-label"> @item.Name</label>
                                                    </span>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                    <input type="checkbox" style="display: none;" name="component-db-id-row-1" id="component-db-id-row-1" value="-1" checked />
                                </td>
                                <td>
                                    <button type="button" onclick="removeComponentRow(this)" id="delete-component-row-button-row-1" class="btn btn-outline-danger btn-sm" disabled>
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </table>
                        <span class="text-start text-opacity-50 text-danger">Component health log entries are not saved if 2 or more components are Unhealthy or Degraded, technical limitations :(</span>
                        <br />
                        <button type="button" onclick="addComponentRow()" class="btn btn-sm my-auto btn-warning text-end mx-auto"><i class="bi bi-plus-square"></i> Add component</button>
                        <input class="form-check-input" style="display: none;" type="checkbox" name="configuration-db-id" value="-1" id="configuration-db-id" checked>
                        <input class="form-check-input" style="display: none;" type="checkbox" name="components-count" value="0" id="components-count" checked>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success btn-ok">Add/edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br />
    <div class="tab-content row col-12" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-configurations" role="tabpanel" aria-labelledby="nav-configurations-tab" tabindex="0">
            <div class="row">
                <div class="col-7">
                    <h1 class="text-start">Configurations</h1>
                </div>
                <div class="col-2 mt-2">
                </div>
                <div class="text-end col-3 mt-2">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#add-configuration"><i class="bi bi-plus-square"></i> Add configuration</button>
                </div>
            </div>
            <table class="shadow-sm table table-sm">
                @*<thead>*@
                <tr class="sticky-table-headers">
                    <th class="col-1 text-end border-end">#</th>
                    <th class="col-5 border-end">Name</th>
                    <th class="col-5 border-end">URI</th>
                    <th>Edit</th>
                </tr>
                @*</thead>*@
                @*<tbody>*@
                @foreach (var configuration in Model)
                {
                    int index = (Model).IndexOf(configuration) + 1;
                    <tr id="configuration-@index" data-components-count="@configuration.Components.Count">
                        <td class="border-end align-middle text-end configuration-entry-id" title="Click to reveal components of configuration" data-bs-toggle="collapse" href="#collapse-@index" role="button" aria-expanded="false" aria-controls="collapse-@index">
                            <div class="row">
                                <span class="col-6 text-start">
                                    <span title="Configuration ID in database" class="badge bg-success">ID: @configuration.Id</span>
                                </span>
                                <span class="text-end col-6">

                                    @if (configuration.Components.Count > 0)
                                    {
                                        <a class="text-decoration-none text-dark">
                                            <i class="bi bi-chevron-bar-expand text-primary"></i> @index
                                        </a>
                                    }
                                    else
                                    {
                                        <i title="No components" class="bi bi-x text-danger opacity-0"></i> @index
                                    }
                                </span>
                            </div>
                        </td>
                        <td class="align-middle configuration-entry-name border-end" data-name="@configuration.Name">
                            @configuration.Name
                        </td>
                        <td class="align-middle configuration-entry-uri border-end"><a target="_blank" href="@configuration.Uri">@configuration.Uri</a></td>
                        @{
                            index = (Model).IndexOf(configuration) + 1;
                        }
                        <td class="align-middle border-end">
                            <button type="button" value="@configuration.Id" id="ed-btn-@index" data-onclick="" onclick="fillConfiguration('ed-btn-@index')" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#add-configuration">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button type="button" value="@configuration.Id" id="rd-btn-@index" data-onclick="removeConfiguration('rd-btn-@index')" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#confirm-deletion">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                        @if (configuration.Components.Count > 0)
                        {
                        <tr class="collapse config-collapse" id="collapse-@index">
                            <td colspan="5" class="px-0 pt-0 pb-1">
                                <table class="shadow-sm table table-striped">
                                        @*<thead>*@
                                    <tr>
                                        <th class="border-end text-end col-1">#</th>
                                        <th class="col-1 border-end">Type</th>
                                        <th class="col-3 border-end">Name</th>
                                        <th class="col-3 border-end">Query</th>
                                        <th class="col-2 border-end">Roles</th>
                                        <th class="col-3">Controls</th>
                                    </tr>
                                        @*</thead>*@
                                        @*<tbody>*@
                                        @foreach (var component in configuration.Components)
                                        {
                                            int componentIndex = (configuration.Components.ToList()).IndexOf(component) + 1;
                                        <tr data-component-db-id="@component.Id" class="align-middle">
                                            <td class="components-index border-end text-end col-1">
                                                <div class="row">
                                                    <span class="col-6 text-start">
                                                        <span title="Component ID in database" class="badge bg-warning">ID: @component.Id</span>
                                                    </span>
                                                    <span class="text-end col-6">
                                                            @componentIndex
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="component-type border-end" data-type-id="@component.ComponentTypes.ComponentTypesId">@component.ComponentTypes.ComponentTypesName</td>
                                            <td class="component-name border-end" data-name="@component.ComponentName">
                                                    @component.ComponentName
                                            </td>
                                            <td class="component-query border-end"><samp style="" class="has-before-after-quotes bg-secondary bg-opacity-25 p-1 rounded">@component.ComponentQuery</samp></td>
                                            <td class="component-roletags border-end" data-roletags="@component.ComponentRoletags">
                                                    @{
                                                        var listOfComponentRoles = JsonConvert.DeserializeObject<List<string>>(component.ComponentRoletags);
                                                        foreach (var item in listOfComponentRoles)
                                                        {
                                                        <span class="badge bg-primary" data-role-name="@item">@item</span>
                                                        }
                                                    }
                                            </td>
                                            <td title="Controls unavailable for this component" class="component-has-controls" data-has-controls="@component.ComponentHasControls">
                                                    @if (component.ComponentHasControls)
                                                    {
                                                    <div class="btn-group" role="group" aria-label="Basic example">
                                                        <button type="button" class="btn btn-sm btn-success"><i class="bi bi-play-fill"></i></button>
                                                        <button type="button" class="btn btn-sm btn-success"><i class="bi bi-arrow-clockwise"></i></button>
                                                    </div>
                                                    <button type="button" class="btn btn-sm btn-danger"><i class="bi bi-stop-fill"></i></button>
                                                    }
                                                    else
                                                    {
                                                    <div class="btn-group" role="group" aria-label="Basic example">
                                                        <button type="button" class="btn btn-sm btn-secondary" disabled><i class="bi bi-play-fill"></i></button>
                                                        <button type="button" class="btn btn-sm btn-secondary" disabled><i class="bi bi-arrow-clockwise"></i></button>
                                                    </div>
                                                    <button type="button" class="btn btn-sm btn-secondary" disabled><i class="bi bi-stop-fill"></i></button>
                                                    }
                                            </td>
                                        </tr>
                                        }
                                        @*</tbody>*@
                                </table>
                            </td>
                        </tr>
                        }
                    </tr>
                }
                @*</tbody>*@
            </table>
        </div>
    </div>
</div>