@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Identity;
@using RSWMonitor.MainApp.Models
@model UsersAndRoles
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject UserManager<IdentityUser> userManager

@{ ViewData["Title"] = "User Management";}
<div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Action success</strong>
            <small></small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            The performed action was processed successfully!
        </div>
    </div>
</div>
<div class="container text-center">
    <div class="row">
        <div class="col-8">
            <form name="user-setting-section">
                    <div class="col-2"></div>
                    <div class="col-12">
                        <h1>Users</h1>
                    </div>
                    <div class="col-2">
                    </div>
                <hr />
                <table id="dtBasicExample" class="table table-striped table-sm">
                    <tr><th>#</th><th>User name</th><th>Email confirmed</th><th>Health manager?</th><th>User manager?</th></tr>
                    @foreach (var item in Model.users!)
                    {
                        int index = (Model.users).IndexOf(item) + 1;
                        IdentityUser user = await userManager.FindByNameAsync(item.UserName);
                        var userRoles = await userManager.GetRolesAsync(user);
                        <tr>
                            <td>@index</td>
                            <td>@item.Email</td>
                            <td><input name="@item.Email" type="checkbox" value="EmailConfirmed" onclick="updateUserRole(this)" class="user-settings" @((item.EmailConfirmed) ? "checked disabled" : "") /></td>
                            <td><input name="@item.Email" type="checkbox" value="Health manager" onclick="updateUserRole(this)" class="user-settings" @((userRoles.Contains(Model.roles![0].Name)) ? "checked" : "") /></td>
                            <td><input name="@item.Email" type="checkbox" value="User manager" onclick="updateUserRole(this)" class="user-settings" @((userRoles.Contains(Model.roles![1].Name)) ? "checked" : "") /></td>
                        </tr>
                    }
                </table>
            </form>
        </div>
        <div class="col"></div>
        <div class="col-3">
            <div class="col-12">
                <h1>Roles @*<a class="font-weight-bold text-decoration-none text-success" asp-controller="ManageUsers">+</a>*@</h1>
            </div>
            <hr />
            <table class="table table-striped">
                <tr><th>#</th><th>Name</th></tr>
                @foreach (var item in Model.roles!)
                {
                    <tr><td>@((Model.roles).IndexOf(item) + 1)</td><td>@item.Name</td></tr>
                }
            </table>
        </div>
    </div>
</div>
